@import '../../root.css';

.Timeline-two-container {
  align-items: center;
  width: 90%;
  margin: auto 5% auto 5%;
}

.MuiSlider-markLabel.MuiSlider-markLabelActive.css-1eoe787-MuiSlider-markLabel {
  color: white;
}

.MuiTypography-root.MuiTypography-h5.MuiTypography-gutterBottom.Timeline-title.css-h93ljk-MuiTypography-root {
  color: var(--secondary-color);
}