.Hero-container {
  padding: 5em 0 0 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}


.Hero-content {
  grid-column: 1 / 8;
  margin: 0;
  padding: 0;
}


.Hero-content h3 {
  color: white;
}

.Hero-content h3 span,
.Hero-content h1 span {
  color: var(--secondary-color)
}

.Hero-title {
  font-size: 40px;
  color: white;
}

.Hero-title-scramble,
.Hero-subtitle-scramble {
  font-size: 40px;
  color: var(--secondary-color);
}



.Hero-subtitle {
  font-size: 30px;
}

.Hero {
  grid-column: 8 / 12;
}

.Hero-image {
  margin-top: 100px;
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  box-shadow: 0 0 4px var(--secondary-color),
    0 0 8px var(--secondary-color),
    /* 0 0 12px var(--secondary-color),
    0 0 16px var(--secondary-color), */
    0 0 40px var(--secondary-color),
    0 0 45px var(--secondary-color);
  animation: pulsate 3s ease-out infinite;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 50px var(--secondary-color);
  }

  50% {
    box-shadow: 0 0 100px var(--secondary-color);
  }

  /* 75% {
    box-shadow: 0 0 32px var(--secondary-color);
  } */

  100% {
    box-shadow: 0 0 50px var(--secondary-color);
  }
}

@media (max-width:1100px) {

  .Hero-content,
  .Hero {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}


@media(max-width:960px) {
  .Hero-image {
    width: 300px;
    height: 300px;
  }

  .Hero-title,
  .Hero-title-scramble {
    font-size: 35px;
  }

  .Hero-subtitle,
  .Hero-subtitle-scramble {
    font-size: 30px;
  }

}

@media(max-width:600px) {
  .Hero-image {
    width: 300px;
    height: 300px;
  }

  .Hero-title,
  .Hero-title-scramble {
    font-size: 20px;
  }

  .Hero-subtitle,
  .Hero-subtitle-scramble {
    font-size: 15px;
  }

}