.Navbar {
  width: 100%;
  background-color: var(--secondary-color);
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 10px;
  transition: 250ms ease-in-out;
}

.navbar-scrolled {
  padding: 5px;
}

.Navbar-wrapper {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
}

.Navbar-container {
  display: flex;
  justify-content: space-evenly;
}

.Navbar-content {
  text-decoration: none;
}



.Navbar-container>* {
  margin: 0 1rem;
}