.Navbar {
  width: 100%;
  background-color: var(--secondary-color);
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 10px;
  transition: 250ms ease-in-out;
  box-shadow: 0 0 8px rgb(92, 88, 88);
}

.Navbar-scrolled {
  top: -100px;
  padding: 5px;
}

.Navbar-wrapper {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
}

.Navbar-container {
  display: flex;
  justify-content: space-evenly;
}

.Navbar-content {
  text-decoration: none;
  padding: 10px;
}

.Navbar-content:hover {
  background-color: white;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.Navbar-content:hover h2 {
  color: var(--secondary-color);
}

.Navbar-container>* {
  margin: 0 1rem;
}