.Form-container {
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid white; */
  border-radius: 5px;
  padding: 1em;
}

.Form-container h2 {
  text-align: center;
}

.Form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  padding: 1em;
  margin: 10px auto;
}

.Form-container a {
  color: white;
  text-decoration: none;
}

.Form-group:last-child {
  align-items: center;
}

.Form-group>* {
  margin: 0 10px;
  font-size: 24px;
}

.Form-group>input,
.Form-group>textarea {
  padding: 1em 0.2em;
  border-radius: 5px;
  font-size: 18px;
  width: 100%;
  resize: vertical;
}

.Form-container button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 30px;
}

@media(max-width:960px) {
  .Form-group>* {
    font-size: 20px;
  }

  .Form-container h2 {
    font-size: 20px;
  }
}